body {
  font-size: 1em;
}

body, p {
  font-family: 'SpiegelSansWeb', Verdana, sans-serif;
}

.container {
  /*width: 856px;
  margin: 0.5em auto;*/
}

a, a:visited, a:hover {
  color: #900;
}

a .headline {
  color: #000;
}

a img.boxed {
  border: 2px solid #eee;
}

iframe {
  overflow: hidden;
}

h1, h2, h3 {
  line-height: 1.1em;
  font-weight: normal;
  color: #111;
  font-family: 'SpiegelHeadlineWeb', Verdana, sans-serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

.tpc {
  margin-top: -10px;
}

.nopre h3 {
  margin-top: 0;
}

p.list-item {
  margin-bottom: 1em;
}

footer .container {
  border-top: 1px solid #eee;
  padding-top: 1em;
  padding-bottom: 2em;
}

ul#menu {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}

ul#menu li {
  padding: 0.5em 0 0.3em 0;
  display: inline-block;
  width: 10em;
  position: relative;
}

ul#menu li .category {
  font-weight: bold;
  padding: 0 0 0 1em;
  cursor: pointer;
}

ul#menu li ul {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  width: 28em;
  /*background-color: #eee;*/
  background-color: #fff;
  border: 1px solid #666;
  border-top: none;
}

ul#menu > li:hover {
  /*background-color: #eee;*/
  background-color: #fff;
  cursor: hand;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

ul#menu li:hover ul {
  margin-top: 0.3em;
  margin-left: -1px;
}

ul#menu li ul li {
  width: inherit;
}

ul#menu li ul li p {
  margin: 0 0 1em 0;
  color: #999;
  font-size: 0.9em;
}

code {
  color: #ff724b;
}

ul.arguments li {
  margin-bottom: 0.5em;
}



h1 .subtitle {
  color: #999;
}

#search-bar {
  margin: 1em 0 1em 0;
  width: 90%;
  font-size: 1em;
  padding: 0.2em;
}

#results {
  position: relative;
}

#results-area h3 {
  margin-bottom: 0;
  font-size: 1.5em;
}

#results-area h3.headline {
  color: #000;
}

#results-area p {
  margin-top: 0.2em;
  font-size: 1em;
}

#results-area p .date {
  font-weight: bold;
  color: #666;
}

#facets-area {
  position: absolute;
  left: 620px;
  width: 300px;
}

#facets-area h2 {
  margin-top: 0;
  margin-bottom: 0.1em;
  font-size: 1.2em;
}

#facets-area .count {
  color: #999;
}

#facets-area ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#facets-area ul li {
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

